@import url('http://fonts.cdnfonts.com/css/gotham?styles=17579,17588');
body {
  margin: 0;
  font-family: 'Gotham Ultra', sans-serif;
}
html::-webkit-scrollbar {
	width:8px;
}

html::-webkit-scrollbar-track {
	background: white;
}

html::-webkit-scrollbar-thumb {
background: rgb(203, 198, 198);
	border-radius: 1rem;
}

